body {
  margin: 10px;
  font-family: 'Abel';
  text-align: center;
  width: 580px;
}

.container {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-gap: 10px;
}

.item {
  color: white;
  padding: 1.5em 0;
  font-size: 2em;
}

.a { background: #0d9; }
.b { background: #d90; }
.c { background: #9d0; }
.d { background: #90d; }
.e { background: #d09; }
.f { background: #09d; }

// grid-area: row-start / col-start / row-end / col-end;
// .c {
//   grid-area: 2 / 2 / 4 / 4;
// }

// grid-row: row-start / span row-span-value;
// grid-column: col-start / span col-span-value;
.c {
  grid-row: 1 / span 2; //horizontal
  grid-column: 1 / span 3; //vertical
}